@{
}

@model BooksViewModel

@foreach (Book b in Model.Books)
{
    <partial name="BookSummary" model="b" />
// this goes to our BookSummary partial view inside our Shared folder
}

<!--these are styling the buttons, and correspond to code in our paginationtaghelper file-->
<div page-info="@Model.PageInfo" page-action="Index" page-class="btn"
     page-class-normal="btn-outline-dark" page-class-selected="btn-primary"
     page-classes-enabled="true" class="btn-group pull-right m-1"></div> 